.breadcrumbs  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-bottom: 20px;
}
.breadcrumbItem {
    position: relative;
    display: flex;
    align-items: center;
}
.breadcrumbItem:not(:last-child):after {
    content: "•";
    position: relative;
    right: -12px;
    color: var(--tgui--text_color);
}