body {
  --tgui--tertiary_bg_color: transparent ;
  --tgui--bg_color: var(--tg-theme-secondary-bg-color) t;
  --tg-theme-bg-color: var(--tg-theme-hint-color) ;
  
  background: var(--tg-theme-secondary-bg-color, white);
}

::-webkit-scrollbar {
  width: 0;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.h1 {
  font-size: var(--tgui--text--font_size);
  line-height: var(--tgui--text--line_height);
  font-weight: var(--tgui--font_weight--accent2);
  padding: 20px 24px 4px 22px;
  color: var(--tgui--text_color);
  padding-left: 24px;
}

.footer {
  padding: 30px 12px 12px;
  margin-top: auto;
}

.header {
  padding: 12px;
}

.error {
  color: var(--tg-theme-destructive-text-color);
}

.success {
  color: var(--tg-theme-accent-text-color);
}